<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('type') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% taxon.relations.each do |relation| %>
      <tr id="<%= dom_id relation %>">
        <td><%= relation.related_to.name %></td>
        <td><%= relation.relation_type.name %></td>
        <td width="70px">
          <%= link_to_delete relation, { :url => admin_taxonomy_taxon_relation_url(relation.relatable.taxonomy, relation.relatable, relation) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
