<%= render :partial => 'admin/shared/taxon_tabs', :locals => { :current => 'Related Taxons' } %>
<%= csrf_meta_tag %>

<h1><%== t(:taxon_edit) + " &ldquo;#{@taxon.name}&rdquo;" %></h1>

<% if @relation_types.empty? %>
  <%= t('no_relation_types') %>
<% else %>
  <div id="add-line-item">
    <fieldset>
      <legend><%= t('add_related_taxons') %></legend>
      <div style="float:left; width:69%; margin-right:5%;">
        <%= label_tag :add_taxon_name, t('name') %>
        <%= text_field_tag :add_taxon_name,  '', :class => 'fullwidth title' %>
        <%= hidden_field_tag :add_taxon_id %>
      </div>

      <div style="float:left; width:20%; margin-right:5%;">
        <%= label_tag :add_type, t('type') %>
        <%= select_tag :add_type,
                       options_for_select(@relation_types.map{ |rt| [rt.name, rt.id] }),
                       :style => 'margin: 0pt; padding: 4px; font-size: 1.5em; width: 98%;' %>
      </div>

      <div style="float: left; width: 15%; padding-top: 17px;">
        <%= link_to text_for_button_link(t('add'), :icon => 'add'),
            admin_taxonomy_taxon_relations_url(@taxon.taxonomy, @taxon),
            { :id => 'add_related_taxon', :class => 'button', 'data-update' => 'taxons-table-wrapper'} %>
      </div>
    </fieldset>
  </div>

  <div id="taxons-table-wrapper">
    <%= render :partial => 'related_taxons_table', :locals => { :taxon => @taxon } %>
  </div>

  <%= content_for :head do %>
    <script type="text/javascript">
      $('#add_related_taxon').live('click', function() {
        if ($('#add_taxon_id').val() == '') { return false }

        $.ajax({
          type: 'post',
          url: this.href,
          dataType: 'script',
          data: {
            'relation[related_to_type]' : 'Taxon',
            'relation[related_to_id]': $('#add_taxon_id').val(),
            'relation[relation_type_id]': $('#add_type').val(),
            'relation[discount_amount]': 0.0
          }
        });
        return false;
      });
    </script>
  <% end %>
<% end %>
