
<% content_for :sidebar do %>

  <h3><%= @taxon.name %></h3>
  <br class="clear" />

  <ul class="sidebar product-menu" data-hook="admin_product_tabs">
    <li<%== ' class="active"' if current == 'Taxon Details' %>>
      <%= link_to t(:taxon_details), edit_admin_taxonomy_taxon_url(@taxon.taxonomy, @taxon) %>
    </li>
    <li<%== ' class="active"' if current == 'Related Products' %>>
      <%= link_to t(:related_products), related_admin_taxonomy_taxon_url(@taxon.taxonomy, @taxon) %>
    </li>
  </ul>
  <br class="clear" />

<% end %>
